body{
    font-family: Arial, Helvetica, sans-serif;
}
.wraper {
    width: 80%;
    margin: auto;
    background-color: #e7e7e7;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 5px;
    height: 100px;
    margin-bottom: 25px;
    margin-top: 25px;
}
#inp {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
select{
    
    height: 30px;
    width: 250px;
}
input{
    height: 30px;
    width: 250px;
}
#vacancies{
    width: 80%;
    margin: auto;
}
#vacancy{
    display: flex;
    width: 100%;
    margin: auto;
    background: #eee;
    border: 1px solid #3d7e9a;
    margin-bottom: 5px;
}
#vacancy div:first-child{
    width: 20%;
    margin-left: 5px;
}
#vacancy div:last-child{
    width: 77%;
    margin-left: 15px;
    margin-right: 5px;
}
#vacancy img{
    width: 100%;
    height: auto;
}
a{
    color: black;
    text-decoration: none;
}